.chrome-extension-FindManyStrings {
  font-style: normal;
  border-radius: 3px;
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.highlight {
  position: relative;
  display: inline-block;
  text-indent: 0pt;
  background-color: #b4ff00;
}

.chrome-extension-FindManyStrings-style-0 {
  color: #000;
  background: #ffc600;
}
.chrome-extension-FindManyStrings-style-1 {
  color: #fff;
  background: #a441ff;
}
.chrome-extension-FindManyStrings-style-2 {
  color: #000;
  background: #fff532;
}
.chrome-extension-FindManyStrings-style-3 {
  color: #fff;
  background: #3988ff;
}
.chrome-extension-FindManyStrings-style-4 {
  color: #000;
  background: #b4ff00;
}
.chrome-extension-FindManyStrings-style-5 {
  color: #fff;
  background: #5e41ff;
}
.chrome-extension-FindManyStrings-style-6 {
  color: #000;
  background: #75d6e2;
}
.chrome-extension-FindManyStrings-style-7 {
  color: #fff;
  background: #f33f62;
}
.chrome-extension-FindManyStrings-style-8 {
  color: #000;
  background: #ddb397;
}
.chrome-extension-FindManyStrings-style-9 {
  color: #fff;
  background: #dd577a;
}

.chrome-extension-FindManyStrings-style-10 {
  color: #fff;
  background: #d2691e;
}
.chrome-extension-FindManyStrings-style-11 {
  color: #000;
  background: #ffc0cb;
}
.chrome-extension-FindManyStrings-style-12 {
  color: #fff;
  background: #bdb76b;
}
.chrome-extension-FindManyStrings-style-13 {
  color: #000;
  background: #00ffff;
}
.chrome-extension-FindManyStrings-style-14 {
  color: #fff;
  background: #9acd32;
}
.chrome-extension-FindManyStrings-style-15 {
  color: #000;
  background: #40e0d0;
}
.chrome-extension-FindManyStrings-style-16 {
  color: #fff;
  background: #00bfff;
}
.chrome-extension-FindManyStrings-style-17 {
  color: #000;
  background: #e9967a;
}
.chrome-extension-FindManyStrings-style-18 {
  color: #fff;
  background: #ff69b4;
}
.chrome-extension-FindManyStrings-style-19 {
  color: #000;
  background: #fa8072;
}
